.credits-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  font-size: 2.5vw;
}

.credits-header {
  display: flex;
  justify-content: center;
  padding: 5vh 0;
}

.credits-header h1 {
  font-size: 5vw;
  color: #fff;
}

.credits-page main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.credits-page h2 {
  font-size: 3.5vw;
  color: rgb(240, 240, 240);
}

.credits-flaticon {
  margin-bottom: 5%;
}

.credits-images {
  margin-bottom: 3%;
}

.credits-image-ul {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 25vh;
  list-style-type: disc;
}

.credits-image-ul li {
  margin-bottom: 3%;
  font-size: 2vw;
}

.credits-links a {
  text-decoration: none;
  color: #00b7bd;
}

.credits-links a:hover {
  text-decoration: none;
  color: #00f7ff;
}

.credits-page footer {
  padding: 2%;
  font-family: "V-Ger Grotesque", sans-serif;
}

.credits-page footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
