/************* #COLORS *************/
/* turquoise: #00f7ff */
/* grey: #8A9099 */

/************* #FONTS *************/
@font-face {
  font-family: "V-Ger Grotesque";
  src: URL("../vger-bold.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Orbitron:wght@400;500;600;700;800;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/************* #RESET & NORMALIZE *************/
@import-normalize;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************* #UNIVERSAL *************/

body {
  font-size: 5vw;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
}

.handwriting {
  font-family: "Gloria Hallelujah", cursive;
}

/************* #HEADER *************/
.home-header {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: black;
  color: white;
}

.circle {
  position: absolute;
  background-color: #8a9099;
  border-radius: 50%;
  margin: 0;
}

.circle-1 {
  top: -9vw;
  left: -2.6vw;
  height: 24vw;
  width: 24vw;
}

.circle-2 {
  top: -3vw;
  right: -12vw;
  height: 46vw;
  width: 46vw;
}

.header-k {
  color: #00f7ff;
}

.home-header h1,
.home-header h2 {
  position: relative;
  left: 14vw;
  text-transform: uppercase;
}

.home-header h1 {
  padding-top: 2vw;
  font-size: 9vw;
  font-family: "V-Ger Grotesque", sans-serif;
  letter-spacing: 1rem;
}

.home-header h2 {
  max-width: 42vw;
  font-size: 5vw;
  line-height: 1.3;
}

.header-text {
  margin: 0 10vw;
  line-height: 1.4;
  text-align: center;
}

.pointer {
  position: absolute;
  top: 35vw;
  left: 51vw;
  width: 3.5vw;
  transform: rotate(-13deg);
}

.whomever {
  position: absolute;
  top: 33.5vw;
  left: 51vw;
  transform: rotate(29deg);
  font-size: 1.5vw;
}

.triangle {
  height: 10vw;
  border-right: 100vw solid black;
  border-bottom: 150px solid transparent;
}

.mobile-text-break-shown {
  display: none;
}

/************* #MAIN *************/
.home-main {
  padding-top: 15vw;
  overflow: hidden;
}

.get-started {
  position: relative;
  bottom: 20vh;
  left: 9vw;
  transform: rotate(-10deg);
  font-size: 2vw;
}

.home-main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-set {
  width: 75vw;
  display: flex;
  align-items: center;
}

.name-set input {
  margin-left: 2vw;
  padding: 3vh 0;
  width: 34vw;
  height: 6vh;
  outline: none;
  border: none;
  border-bottom: 1vh solid black;
  font-size: 5vw;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.username-set {
  margin-bottom: 5vw;
}

.friendname-set {
  margin-bottom: 7vw;
}

/* GREETING SECTION */

.wavy {
  width: 100vw;
  height: 33vw;
  margin-bottom: 7vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4vw;
  /* source for below: https://css-generators.com/wavy-shapes */
  --mask: radial-gradient(154.29px at 50% 207px, #000 99%, #0000 101%)
      calc(50% - 138px) 0/276px 51% repeat-x,
    radial-gradient(154.29px at 50% -138px, #0000 99%, #000 101%) 50% 69px/276px
      calc(51% - 69px) repeat-x,
    radial-gradient(154.29px at 50% calc(100% - 207px), #000 99%, #0000 101%)
      calc(50% - 138px) 100%/276px 51% repeat-x,
    radial-gradient(154.29px at 50% calc(100% + 138px), #0000 99%, #000 101%)
      50% calc(100% - 69px) / 276px calc(51% - 69px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.star {
  object-fit: contain;
  width: 9%;
  height: auto;
  position: relative;
}

.star-1 {
  bottom: 2vw;
}

.star-2 {
  top: 9vw;
}

.wavy p {
  margin: 0 6vw;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  max-width: 80vw;
  font-size: 6vw;
}

.greeting-name {
  font-size: 5vw;
}

/* ADJECTIVE SECTION */

.adj-header {
  margin-bottom: 9vh;
}

.buttons {
  margin: 0 10vw;
  margin-bottom: 3vw;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
}

.home-button {
  padding: 5px 10px;
  border-radius: 25px;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  background-color: #000;
  color: #fff;
}

/* .home-button:hover {
  border: 2px solid #8a9099;
  background-color: #8a9099;
  cursor: pointer;
} */

.home-button-selected {
  border: 2px solid #8a9099;
  background-color: #8a9099;
}

.swell-container {
  padding: 2rem;
  position: relative;
  top: 10vh;
  /* bottom: 20vh;
  left: 9vw; */
  transform: rotate(-25deg);
  border-radius: 5px;
  background-color: #8a9099;
  color: #fff;
}

/* COLORS SECTION */
.colors-section {
  display: flex;
  flex-direction: column;
  padding-top: 30vh;
  padding-bottom: 15vh;
  background-color: #000;
  color: #fff;
}

.color-splashes {
  margin: 0 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-splash {
  height: 15vw;
  width: 15vw;
}

/* .home-main path:hover {
  stroke: #fff;
  stroke-width: 7px;
} */

.color-selected {
  stroke: #fff;
  stroke-width: 7px;
}

/* .color-splash:hover {
  cursor: pointer;
} */

.gimme {
  align-self: flex-end;
  margin-top: 3vh;
  margin-right: 15vw;
  font-size: 2vw;
}

/* .gimme:hover {
  cursor: pointer;
  color: #00f7ff;
} */

/* DESCRIPTION */

.description-container {
  padding: 20vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
  line-height: 1.4;
  background-color: #8a9099;
  color: #fff;
}

#description {
  margin: 0 12vw;
  padding: 3vh;
  border: none;
  border-radius: 8px;
  font-size: 2vw;
  font-family: "Rubik", sans-serif;
}

/* FEELINGS */

.feelings-container {
  padding: 20vh 0;
  display: flex;
  flex-direction: column;
  gap: 9vh;
  background-color: #000;
  color: white;
}

.feelings-button {
  background-color: #fff;
  color: #000;
  /* border: 2px solid white; */
}

.feelings-button-selected {
  border: 2px solid #8a9099;
  background-color: #8a9099;
}

/* EMOJIS */

.emoji-line {
  position: relative;
  bottom: 5vh;
}

.emoji-header {
  padding-top: 12vh;
  margin-bottom: 10vh;
}

.emoji-categories {
  display: flex;
  gap: 7vw;
  margin-bottom: 10vh;
  text-transform: uppercase;
  font-size: 3vw;
}

.emoji-col-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7vh;
}

.emoji-cols {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.emoji-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.emoji-div {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 50%;
}
/*
.emoji-div:hover {
  background-color: #b9f0f1;
  border: 4px solid #00f7ff;
  cursor: pointer;
} */

.emoji-selected {
  background-color: #b9f0f1;
  border: 4px solid #00f7ff;
  cursor: pointer;
}

/* SUBMISSION */

.wavy-bottom {
  margin-bottom: -50vh;
  position: relative;
  z-index: -1;
}

.missingRequiredFields {
  display: flex;
  justify-content: center;
  gap: 0.5vw;
  width: 55vw;
  font-weight: 400;
  font-size: 1.5vw;
  color: rgb(255, 166, 0);
}

.missingRequiredFields a {
  color: rgb(255, 166, 0);
  font-weight: 600;
}

.submit-container {
  width: 100vw;
  padding-top: 20vh;
  padding-bottom: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9vh;
  background-color: #000;
  color: white;
}

.submit-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 20px;
  left: -290px;
  transform: rotate(-20deg);
  font-size: 3vw;
  line-height: 1.6;
}

.submit-button {
  padding: 2vw 0;
  width: 55vw;
  border: 3px solid #000;
  border-radius: 50px;
  font-family: "V-Ger Grotesque", sans-serif;
  font-size: 3vw;
  font-weight: 800;
  letter-spacing: 0.7rem;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #00f7ff;
  color: #000;
}

/* .submit-button:hover {
  cursor: pointer;
  border: 3px solid #00f7ff;
  background-color: #000;
  color: #00f7ff;
} */

/* FOOTER */

footer {
  padding-top: 2vh;
  padding-bottom: 5vh;
  background-color: #8a9099;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

footer a,
footer Link {
  font-size: 2vw;
  text-decoration: none;
  color: #45474b;
  text-transform: uppercase;
}
/*
footer a:hover,
footer Link:hover {
  color: #000;
} */

/* MEDIA QUERIES */
@media (min-width: 280px) {
  html,
  body,
  #root,
  .home-parent-div {
    height: 100%;
  }

  /* header */

  .home-header {
    height: 100%;
  }

  .home-header-text {
    height: 100%;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    gap: clamp(5vw, 10vw, 12vw);
  }

  .home-header h1 {
    margin-left: -5vw;
    max-height: 100%;
    font-size: 10.2vh;
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  .home-header h2 {
    max-height: 100%;
    font-size: 4vh;
    max-width: 48vw;
    line-height: 12vh;
    text-align: end;
  }

  .home-word-image {
    display: block;
  }

  .desktop-split {
    display: inline;
  }

  .whomever {
    display: none;
  }

  .pointer {
    display: none;
  }

  .mobile-text-break-shown {
    display: block;
  }

  .mobile-text-break-hidden {
    display: none;
  }

  .home-turquoise-text {
    color: #00f7ff;
  }

  .circle-1 {
    top: -22vw;
    left: -20vw;
    height: 32vh;
    width: 32vh;
  }

  .circle-2 {
    top: 15vh;
    right: -25vw;
    height: 22vh;
    width: 22vh;
  }

  /* Get Started */
  .get-started {
    top: -2vh;
    bottom: 0;
    left: -27vw;
    transform: rotate(-10deg);
    font-size: 4vw;
  }

  .name-set {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 9vw;
  }

  .name-set input {
    margin-left: 2vw;
    padding: 3vh 0 0 0;
    width: 70vw;
    height: 6vh;
    outline: none;
    border: none;
    border-bottom: 1vh solid black;
    font-size: 10vw;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
  }

  .username-set {
    margin-bottom: 7vh;
  }

  .friendname-set {
    margin-bottom: 15vw;
  }

  /* Greeting */
  .wavy {
    width: 200vw;
    height: 30vh;
    margin-bottom: 7vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4vw;
    /* source for below: https://css-generators.com/wavy-shapes */
    --mask: radial-gradient(52.84px at 50% 73.5px, #000 99%, #0000 101%)
        calc(50% - 60px) 0/120px 51% repeat-x,
      radial-gradient(52.84px at 50% -43.5px, #0000 99%, #000 101%) 50% 30px/120px
        calc(51% - 30px) repeat-x,
      radial-gradient(52.84px at 50% calc(100% - 73.5px), #000 99%, #0000 101%)
        calc(50% - 60px) 100%/120px 51% repeat-x,
      radial-gradient(52.84px at 50% calc(100% + 43.5px), #0000 99%, #000 101%)
        50% calc(100% - 30px) / 120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  .star {
    object-fit: contain;
    width: 15vw;
    height: auto;
    position: relative;
  }

  .star-1 {
    bottom: 5vw;
  }

  .star-2 {
    top: 15vw;
  }

  .wavy p {
    margin: 0 6vw;
  }

  .greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    max-width: 65vw;
    font-size: 9vw;
  }

  .greeting-name {
    font-size: 8vw;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 70vw;
    text-align: center;
  }

  /* Adjectives */
  .adj-header {
    margin-bottom: 5vh;
    font-size: 7vw;
  }

  .buttons {
    margin: 0 5vw;
    margin-bottom: 4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
  }

  .home-button {
    padding: 5px 10px;
    border-radius: 25px;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
  }

  /* .home-button:hover {
    border: 2px solid #8a9099;
    background-color: #8a9099;
    cursor: pointer;
  } */

  .home-button-selected {
    /* background-color: #000;
    border: 2px solid #000; */
    border: 2px solid #8a9099;
    background-color: #8a9099;
  }

  .swell-container {
    padding: 2rem;
    position: relative;
    top: 12vw;
    transform: rotate(-31deg);
    border-radius: 5px;
    /* background-color: blue; */
    background-color: #8a9099;
    color: #fff;
  }

  .swell {
    font-size: 8vw;
  }

  /* Colors */
  .colors-section {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    padding-bottom: 10vh;
    font-size: 7vw;
    background-color: #000;
    color: #fff;
  }

  .color-splashes {
    margin: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .color-splash {
    height: 25vw;
    width: 25vw;
  }

  .color-splash:last-of-type {
    display: none;
  }

  /* .home-main path:hover {
    stroke: #fff;
    stroke-width: 7px;
  }

  .color-selected {
    stroke: #fff;
    stroke-width: 7px;
  }

  .color-splash:hover {
    cursor: pointer;
  } */

  .gimme {
    align-self: flex-end;
    margin-top: 3vh;
    margin-right: 15vw;
    font-size: 5vw;
  }

  .gimme:active {
    color: #00f7ff;
  }

  /* Descriptions */

  .description-container {
    padding: 10vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
    line-height: 1.4;
    background-color: #8a9099;
    color: #fff;
  }

  .description-header {
    font-size: 7vw;
  }

  #description {
    margin: 0 12vw;
    padding: 3vh;
    padding-bottom: 4vh;
    border: none;
    border-radius: 8px;
    font-size: 5vw;
    max-width: 70vw;
    font-family: "Rubik", sans-serif;
  }

  /* FEELINGS */

  .feelings-container {
    padding: 10vh 0 10vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    font-size: 7vw;
    background-color: #000;
    color: white;
  }

  .feelings-button {
    background-color: #fff;
    color: #000;
    /* border: 2px solid white; */
  }

  .feelings-button-selected {
    border: 2px solid #8a9099;
    background-color: #8a9099;
  }

  /* EMOJIS */

  .emoji-line {
    position: relative;
    bottom: 2vh;
    font-size: 8vw;
  }

  .emoji-header {
    padding-top: 5vh;
    margin-bottom: 6vh;
    font-size: 7vw;
  }

  .emoji-categories {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 7vw;
    margin-bottom: 6vh;
    text-transform: uppercase;
    font-size: 5vw;
  }

  .emoji-col-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
  }

  .emoji-cols {
    display: flex;
    justify-content: center;
    gap: 1vw;
  }

  .emoji-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3vh;
    font-size: 9vw;
  }

  .emoji-div {
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 50%;
  }

  .emoji-selected {
    background-color: #b9f0f1;
    border: 4px solid #00f7ff;
    cursor: pointer;
  }

  /* SUBMISSION */

  .wavy-bottom {
    margin-bottom: -20vh;
    position: relative;
    z-index: -1;
  }

  .submit-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;
    left: -70px;
    transform: rotate(-20deg);
    font-size: 4vw;
    line-height: 1.6;
  }

  .missingRequiredFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vw;
    width: 70vw;
    font-weight: 400;
    font-size: 3vw;
    color: rgb(255, 166, 0);
  }

  .missingRequiredFields a {
    color: rgb(255, 166, 0);
    font-weight: 600;
  }

  .submit-container {
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    background-color: #000;
    color: white;
  }

  .submit-button {
    padding: 2vw 0;
    width: 85vw;
    border: 3px solid #000;
    border-radius: 50px;
    font-family: "V-Ger Grotesque", sans-serif;
    font-size: 4.5vw;
    font-weight: 800;
    letter-spacing: 0.7rem;
    line-height: 1.5;
    text-transform: uppercase;
    background-color: #00f7ff;
    color: #000;
  }

  .submit-button:active {
    border: 3px solid #00f7ff;
    background-color: #000;
    color: #00f7ff;
  }

  /* .submit-button:hover {
    cursor: pointer;
    border: 3px solid #00f7ff;
    background-color: #000;
    color: #00f7ff;
  } */

  /* Footer */

  footer {
    padding-top: 3vh;
    padding-bottom: 5vh;
    background-color: #8a9099;
  }

  .footer-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  footer a,
  footer Link {
    font-size: 4vw;
    text-decoration: none;
    color: #45474b;
    text-transform: uppercase;
  }

  footer a:hover,
  footer Link:hover {
    color: #000;
  }
}

@media (min-width: 480px) {
  /* Hovers */
  .home-main path:hover {
    stroke: #fff;
    stroke-width: 7px;
  }
  .color-splash:hover {
    cursor: pointer;
  }
  .gimme:hover {
    cursor: pointer;
    color: #00f7ff;
  }
  .emoji-div:hover {
    background-color: #b9f0f1;
    border: 4px solid #00f7ff;
    cursor: pointer;
  }
  .submit-button:hover {
    cursor: pointer;
    border: 3px solid #00f7ff;
    background-color: #000;
    color: #00f7ff;
  }
  footer a:hover,
  footer Link:hover {
    color: #000;
  }

  /* Header */
  .home-header-text {
    display: block;
  }

  .home-header h1 {
    margin-left: 0;
    writing-mode: horizontal-tb;
    font-size: 9vw;
  }

  .home-header h2 {
    min-width: 40vw;
    text-align: start;
    font-size: 5vw;
    line-height: 1.3;
  }

  .home-word-image {
    display: inline;
  }

  .desktop-split {
    display: block;
  }

  .home-turquoise-text {
    color: white;
  }

  .mobile-text-break-shown {
    display: none;
  }

  .mobile-text-break-hidden {
    display: block;
  }

  .prevent-break {
    display: flex;
  }

  .whomever {
    display: block;
    top: 33.5vw;
    left: 51vw;
    transform: rotate(29deg);
    font-size: 1.5vw;
    color: white;
  }

  .pointer {
    display: block;
    top: 35vw;
    left: 51vw;
    width: 3.5vw;
    transform: rotate(-10deg);
  }

  .circle-1 {
    top: -9vw;
    left: -2.6vw;
    height: 24vw;
    width: 24vw;
  }

  .circle-2 {
    top: -3vw;
    right: -12vw;
    height: 46vw;
    width: 46vw;
  }

  .turquoise-text {
    color: #00f7ff;
  }

  /* Get Started */
  .get-started {
    position: relative;
    left: -35vw;
    top: -5vh;
    bottom: 0;
    transform: rotate(-10deg);
    font-size: 2vw;
  }

  .name-set {
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 5vw;
    padding: 0;
  }

  .name-set input {
    margin-left: 2vw;
    padding: 3vh 0;
    width: 34vw;
    height: 6vh;
    outline: none;
    border: none;
    border-bottom: 1vh solid black;
    font-size: 5vw;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
  }

  .username-set {
    margin-bottom: 5vw;
  }

  .friendname-set {
    margin-bottom: 7vw;
  }

  /* Greeting */
  .wavy {
    width: 100vw;
    height: 33vw;
    margin-bottom: 7vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4vw;
    /* source for below: https://css-generators.com/wavy-shapes */
    --mask: radial-gradient(154.29px at 50% 207px, #000 99%, #0000 101%)
        calc(50% - 138px) 0/276px 51% repeat-x,
      radial-gradient(154.29px at 50% -138px, #0000 99%, #000 101%) 50% 69px/276px
        calc(51% - 69px) repeat-x,
      radial-gradient(154.29px at 50% calc(100% - 207px), #000 99%, #0000 101%)
        calc(50% - 138px) 100%/276px 51% repeat-x,
      radial-gradient(154.29px at 50% calc(100% + 138px), #0000 99%, #000 101%)
        50% calc(100% - 69px) / 276px calc(51% - 69px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  .star {
    object-fit: contain;
    width: 9%;
    height: auto;
    position: relative;
  }

  .star-1 {
    bottom: 2vw;
  }

  .star-2 {
    top: 9vw;
  }

  .wavy p {
    margin: 0 6vw;
  }

  .greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    max-width: 80vw;
    font-size: 6vw;
  }

  .greeting-name {
    font-size: 5vw;
    white-space: initial;
    word-wrap: normal;
    max-width: initial;
  }

  /* Adjectives */
  .adj-header {
    margin-bottom: 9vh;
    font-size: 5vw;
  }

  .buttons {
    margin: 0 10vw;
    margin-bottom: 3vw;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
  }

  .home-button {
    padding: 5px 10px;
    border-radius: 25px;
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    background-color: #000;
    color: #fff;
  }

  .home-button:hover {
    border: 2px solid #8a9099;
    background-color: #8a9099;
    cursor: pointer;
  }

  .home-button-selected {
    border: 2px solid #8a9099;
    background-color: #8a9099;
  }

  .swell-container {
    padding: 2rem;
    position: relative;
    top: 10vh;
    transform: rotate(-25deg);
    border-radius: 5px;
    background-color: #8a9099;
    color: #fff;
    font-size: 5vw;
  }

  .swell {
    font-size: 5vw;
  }

  .feelings-button {
    background-color: #fff;
    color: #000;
  }

  /* Colors */
  .colors-section {
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    padding-bottom: 15vh;
    background-color: #000;
    color: #fff;
    font-size: 5vw;
  }

  .color-splashes {
    margin: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .color-splash:last-of-type {
    display: block;
  }

  .color-splash {
    height: 15vw;
    width: 15vw;
  }

  .home-main path:hover {
    stroke: #fff;
    stroke-width: 7px;
  }

  .color-selected {
    stroke: #fff;
    stroke-width: 7px;
  }

  .color-splash:hover {
    cursor: pointer;
  }

  .gimme {
    align-self: flex-end;
    margin-top: 3vh;
    margin-right: 15vw;
    font-size: 2vw;
  }

  .description-container {
    padding: 20vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
    line-height: 1.4;
    background-color: #8a9099;
    color: #fff;
  }

  .description-header {
    font-size: 5vw;
  }

  #description {
    margin: 0 12vw;
    padding: 3vh;
    border: none;
    border-radius: 8px;
    font-size: 2vw;
    font-family: "Rubik", sans-serif;
    max-width: none;
  }

  /* FEELINGS */

  .feelings-container {
    padding: 20vh 0;
    display: flex;
    flex-direction: column;
    gap: 9vh;
    font-size: 5vw;
    background-color: #000;
    color: white;
  }

  .feelings-button {
    background-color: #fff;
    color: #000;
    /* border: 2px solid white; */
  }

  .feelings-button-selected {
    border: 2px solid #8a9099;
    background-color: #8a9099;
  }

  /* EMOJIS */

  .emoji-line {
    display: flex;
    position: relative;
    bottom: 5vh;
    font-size: 5vw;
  }

  .emoji-header {
    padding-top: 12vh;
    margin-bottom: 10vh;
    font-size: 5vw;
  }

  .emoji-categories {
    display: flex;
    /* flex-wrap: nowrap; */
    gap: 7vw;
    margin-bottom: 10vh;
    text-transform: uppercase;
    font-size: 3vw;
  }

  .emoji-col-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7vh;
  }

  .emoji-cols {
    display: flex;
    justify-content: center;
    gap: 2vw;
  }

  .emoji-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    font-size: 5vw;
  }

  .emoji-div {
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 50%;
  }

  .emoji-div:hover {
    background-color: #b9f0f1;
    border: 4px solid #00f7ff;
    cursor: pointer;
  }

  .emoji-selected {
    background-color: #b9f0f1;
    border: 4px solid #00f7ff;
    cursor: pointer;
  }

  /* SUBMISSION */

  .wavy-bottom {
    margin-bottom: -50vh;
    position: relative;
    z-index: -1;
  }

  .missingRequiredFields {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    width: 55vw;
    font-weight: 400;
    font-size: 1.5vw;
    color: rgb(255, 166, 0);
  }

  .missingRequiredFields a {
    color: rgb(255, 166, 0);
    font-weight: 600;
  }

  .submit-container {
    width: 100vw;
    padding-top: 20vh;
    padding-bottom: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9vh;
    background-color: #000;
    color: white;
  }

  .submit-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 20px;
    left: -290px;
    transform: rotate(-20deg);
    font-size: 3vw;
    line-height: 1.6;
  }

  .submit-button {
    padding: 2vw 0;
    width: 55vw;
    border: 3px solid #000;
    border-radius: 50px;
    font-family: "V-Ger Grotesque", sans-serif;
    font-size: 3vw;
    font-weight: 800;
    letter-spacing: 0.7rem;
    line-height: 1.5;
    text-transform: uppercase;
    background-color: #00f7ff;
    color: #000;
  }

  .submit-button:hover {
    cursor: pointer;
    border: 3px solid #00f7ff;
    background-color: #000;
    color: #00f7ff;
  }

  footer {
    padding-top: 2vh;
    padding-bottom: 5vh;
    background-color: #8a9099;
  }

  .footer-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  footer a,
  footer Link {
    font-size: 2vw;
    text-decoration: none;
    color: #45474b;
    text-transform: uppercase;
  }

  footer a:hover,
  footer Link:hover {
    color: #000;
  }
}
