.results-page {
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1e262e;
  font-family: "V-Ger Grotesque", sans-serif;
  text-transform: uppercase;
}

.results-page main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results-padding {
  padding: 2vw 3vw 0 3vw;
}

/* #00f7ff; */
.neon-major {
  color: #90fbff;
  text-shadow: 0 0 5px #90fbff, 0 0 1px #90fbff, 0 0 5px #90fbff,
    0 0 0px #90fbff;
}

/* color | offset-x | offset-y | blur-radius */
.neon-minor {
  color: #38f4fb;
  text-shadow: 0 0 5px #197184, 0 0 1px #197184, 0 0 5px #197184,
    0 0 0px #90fbff;
  font-size: 2vw;
}

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-friendname {
  font-size: 5vw;
}
.results-description {
  font-size: 1.5vw;
}

.results-kudogen {
  align-self: flex-start;
  padding: 0.3vw 0.7vw;
  border: 5px solid #293a44;
  color: #293a44;
  font-size: 2.5vw;
}

.results-four-sections {
  display: flex;
  justify-content: space-between;
}

.results-left {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.results-right {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.ring {
  position: absolute;
  top: 5vh;
  left: 27vw;
  height: 40vw;
  width: 40vw;
  border: 14px solid #00f7ff;
  border-radius: 50%;
  box-shadow: 0 0 13px #00f7ff, inset 0 0 13px #00f7ff;
}

.results-img {
  position: absolute;
  width: 22vw;
  left: 37vw;
  bottom: 12vh;
}

.results-pink-text {
  color: #ffcfde;
  text-shadow: 0 0 5px #e4b6c4, 0 0 1px #e4b6c4, 0 0 5px #e4b6c4,
    0 0 0px #e4b6c4;
}

.results-feel-container {
  display: flex;
  flex-direction: column;
}

.results-adj-container {
  display: flex;
  flex-direction: column;
}

.results-emoji-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  row-gap: 5vh;
}

.results-header-space {
  margin-bottom: 3vh;
}

.results-emoji {
  font-size: 2.5vw;
}

.results-type-p {
  width: 25vw;
  font-size: 1.5vw;
}

.results-image-footer {
  margin-top: 5vh;
  text-align: center;
  font-size: 1.2vw;
  background-color: #163349;
  color: #229ab4;
  text-transform: none;
  font-family: "Rubik", sans-serif;
}
