.results-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1e262e;
  font-family: "V-Ger Grotesque", sans-serif;
  text-transform: uppercase;
}

.results-page main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results-padding {
  padding: 2vh 3vw 0 3vw;
}

/* #00f7ff; */
.neon-major {
  color: #90fbff;
  text-shadow: 0 0 7px #90fbff, 0 0 1px #90fbff, 0 0 7px #90fbff,
    0 0 0px #90fbff;
}

/* color | offset-x | offset-y | blur-radius */
.neon-minor {
  color: #38f4fb;
  text-shadow: 0 0 10px #197184, 0 0 1px #197184, 0 0 10px #197184,
    0 0 0px #90fbff;
  font-size: 2vw;
}

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-friendname {
  position: relative;
  z-index: 2;
  font-size: 6vw;
  margin-bottom: 0.5vw;
}

.results-description {
  font-size: 1.5vw;
}

.results-kudogen {
  align-self: flex-start;
  padding: 0.3vw 0.7vw;
  border: 5px solid #293a44;
  color: #293a44;
  font-size: 2.5vw;
}

.results-kudogen-link {
  text-decoration: none;
  color: #293a44;
}

.results-four-sections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.results-left {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.results-right {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.results-header-pair {
  display: flex;
}

.adj-hr {
  position: absolute;
  left: 19vw;
  margin-left: 20px;
  height: 3px;
  width: 9vw;
  box-shadow: 1px 1px 5px #11dee6, inset 5px 5px 5px #31e4ea;
}

.emoji-hr {
  position: absolute;
  left: 26.5vw;
  top: 61vh;
  height: 3px;
  width: 3vw;
  box-shadow: 1px 1px 5px #11dee6, inset 5px 5px 5px #31e4ea;
}

.feel-hr {
  position: absolute;
  z-index: 0;
  right: 26vw;
  height: 3px;
  width: 6vw;
  box-shadow: 1px 1px 5px #11dee6, inset 5px 5px 5px #31e4ea;
}

.results-type-hr {
  position: absolute;
  top: 56vh;
  right: 29vw;
  height: 3px;
  width: 3vw;
  box-shadow: 1px 1px 5px #11dee6, inset 5px 5px 5px #31e4ea;
}

.results-adj-feeling:nth-child(even) {
  font-size: 1.9rem;
  text-align: center;
}

.ring {
  position: absolute;
  z-index: 1;
  top: 3vh;
  left: 27vw;
  height: 40vw;
  width: 40vw;
  border: 14px solid #00f7ff;
  border-radius: 50%;
  box-shadow: 0 0 13px #00f7ff, inset 0 0 13px #00f7ff;
}

.results-img {
  position: absolute;
  width: 35vw;
  left: 30vw;
  bottom: 12vh;
}

.results-pink-text {
  color: #ffdce7;
  text-shadow: 0 0 4px #e4b6c4, 0 0 1px #e4b6c4, 0 0 4px #e4b6c4,
    0 0 0px #e4b6c4;
  font-family: "Orbitron", sans-serif;
}

.results-feel-container {
  display: flex;
  flex-direction: column;
}

.results-adj-container {
  display: flex;
  flex-direction: column;
}

.results-emoji-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  row-gap: 4vh;
}

.results-header-space {
  margin-bottom: 3vh;
}

.results-adj-feeling {
  font-size: 2.2rem;
}

.results-adjectives {
  margin-top: 3vh;
}

.results-emoji {
  font-size: 3.5vw;
}

.results-feelings {
  position: relative;
  bottom: 5vh;
}

.results-type-p {
  width: 25vw;
  font-size: 1.5vw;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  text-transform: none;
  line-height: 1.3;
  color: #e4cdd4;
  text-shadow: 0 0 2px #f983ab, 0 0 2px #f983ab, 0 0 2px #f983ab,
    0 0 0px #f983ab;
}

.results-image-footer {
  padding: 1vh;
  text-align: center;
  font-size: 1.2vw;
  background-color: #163349;
  color: #229ab4;
  text-transform: none;
  font-family: "Rubik", sans-serif;
}
